@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #0f141d;
  --bg-secondary: #1a202b;

  --text-primary: #e2e8f0;
  --text-secondary: #cbd5e0;

  --blue-tag: #63b3ed;
  --green-tag: #68d391;
  --red-tag: #fc8181;
  --orange-tag: #f6ad55;
  --purple-tag: #b794f4;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(0);
  }
}

@layer base {
  body {
    background-color: var(--bg-primary);
  }

  h1 {
    @apply text-3xl font-bold text-text-primary;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  h4 {
    @apply text-lg font-bold;
  }

  h5 {
    @apply text-sm font-bold;
  }

  h6 {
    @apply text-sm font-bold;
  }

  ul {
    @apply list-disc list-inside mb-4;
  }

  ol {
    @apply list-decimal list-inside mb-4;
  }

  blockquote {
    @apply border-l-4 pl-4 italic mb-4;
  }

  img {
    @apply mb-4 max-w-full h-auto mx-auto;
  }

  table {
    @apply border-collapse w-full mb-4;
  }

  thead {
    @apply bg-gray-100;
  }

  th {
    @apply border px-4 py-2 text-left;
  }

  td {
    @apply border px-4 py-2;
  }

  hr {
    @apply my-8 border-0 border-t border-gray-200;
  }

  .code {
    position: relative;
  }
  .code .copy-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 5;
  }

  .bounce-animation {
    animation: bounce 1s infinite linear;
  }
}

@layer components {
  .container {
    @apply w-11/12 max-w-[900px] border rounded-lg overflow-hidden mx-auto my-10;
  }
}

@layer utilities {
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .post-wrapper h1,
  .post-wrapper h2,
  .post-wrapper h3,
  .post-wrapper h4,
  .post-wrapper h5,
  .post-wrapper p {
    @apply mb-4 text-text-primary;
  }

  .post-wrapper ol li,
  .post-wrapper ul li {
    @apply text-text-primary;
  }

  .post-wrapper strong {
    @apply font-bold;
  }

  .post-wrapper a {
    @apply text-blue-600 underline;
  }
}
